<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link href="static/icon-192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="static/apple-touch-icon.png" rel="apple-touch-icon">
  <title>Greeting Maker 🎉 - Send Personalized Greeting Wishes</title>
  <meta name="description" content="Send warm and personalized greeting wishes to your friends and family members. Enter your name to receive a custom greeting wishes for the festive season.">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
<section class="section mt-6">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-three-fifths">
    <h1 class="title text-all is-5 mt-1 mb-5">{{ message }}</h1>
    <div class="box">
    <form action="/wish" method="get" aria-label="Name Input Form">
        <div class="field">
        <label for="name">Name:</label>
        <div class="control">
        <input type="text" id="name" name="name" class="input is-warning" placeholder="Enter Name" required>
       </div>
    </div>
       <div class="control">
        <button class="button is-info" type="submit">Submit</button>
       </div>
    </form>
    <p class="mb-4 mt-6">🎁 Change Theme:</p>
    <div class="toggle-container">
      <label class="switch">
          <input type="checkbox" id="darkModeToggle">
          <span class="slider"></span>
      </label>
    </div>
   </div>
</div>
</div>
</div>
</section>
<script src="static/theme.js"></script>
</body>
</html>